<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel='stylesheet’ href=’https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <!--<script src="main.js"></script>-->

</head>
<body>
<!-- Header ------------------------------------------------------------------ -->
<div id="header">
    <div id="logo">
        <img src="photos/944503_354720097988347_450575865_n .jpg" alt="logo">
    </div>
    <ul class=list-group" id="menu">
        <li class=list-group-item" id="title">Match Game</li>
        <!--<li class=list-group-item"><a href="#settings">Settings</a></li>-->
        <li class=list-group-item"><a href="about.html">About</a></li>
    </ul>

</div>
<!-- Info/Left Nav ------------------------------------------------------- -->
<div class="info">
    <div class="tower">
        <img src="photos/michelin_seven.png" alt="michelin tower">
    </div>
    <ul class="list-group stats">
        <li>
            <ul class="list-group" id="games_played">
                <li class="list-group-item">Games Played</li>
                <li class="list-group-item played_value"></li>
            </ul>
            <ul class="list-group" id="attempts">
                <li class="list-group-item">Attempts</li>
                <li class="list-group-items attempts_value">{{ rc.attempts}}</li>
            </ul>
            <ul class="list-group" id="matches">
                <li class="list-group-item">Matches</li>
                <li class="list-group-item matches_value"></li>
            </ul>
            <ul class="list-group" id="accuracy">
                <li class="list-group-item">Accuracy</li>
                <li class="list-group-item accuracy_value"></li>
            </ul>
        </li>
    </ul>
    <button type="button" id="button" class="btn btn-primary btn-lg reset">
        <!--ng-click="resetStats(), games_played = games_played + 1">Reset-->
    </button>
</div>
<!-- Game Area ----------------------------------------------------------- -->
<div id="game-area" ng-controller="infoController as ic">

    <div ng-repeat='card in ic.cardArray' class="card">
        <div class="card_front">
            <img ng-src='{{ card.front }}' class="front" height="200px" width="150px">
        </div>
        <div class="card_back" ng-click="ic.clickFunction(card)" ng-hide="card.show">
            <img ng-src='{{ card.back }}' class="back" height="200px" width="150px">
        </div>
    </div>
</div>
</body>
<script>

    var app = angular.module("myApp", []);
    app.controller("infoController", function () {

        this.imageArray = ['photos/56-f100-truck-DSC-0037.jpg', "photos/2015-Porsche-918-Spyder.jpg", "photos/ae86_levin_hatch_by_bramdc.jpg",
            "photos/e14592bd933e2191698240c13f74c791.jpg", "photos/lowfall_0Vn6_0.jpg", "photos/Mercedes-Benz 190 Cosworth (2).jpg",
            "photos/morris-mini-1275-01.jpg", "photos/porsche-911-carrera-2.7-rs-04.jpg", "photos/web13.jpg"];

        this.cardArray = [];

        for (i = 0; i < this.imageArray.length; i++) {
            var img = this.imageArray[i];
            var card = {
                front: img,
                back: 'photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg',
                show: false
            };
            this.cardArray.push(card);
        }

        var first_card = null;
        var second_card = null;

        this.clickFunction = function(card) {
            console.log('hello');
            console.log("card.show", card.show);
            if (first_card === null) {
                card.show = true;
                first_card = card.front;
            } else {
                card.show = true;
                second_card = card.front;
            }
        };



    });
//    });
//    var first_card = null;
//    var second_card = null;
//    var matched = [];
//    var matches = 0;
//    var attempts = 0;
//    var accuracy;
//    var games_played = 0;
//
//    $(document).ready(function () {
//        displayStats();
//
//
//        $(".card_back").click(function () {
//            if (first_card === null) {
//                $(this).hide();
//                first_card = $(this).siblings().find('img').attr('src');
//                console.log('first card clicked', first_card);
//                displayStats();
//                attempts++;
//            } else {
//                $(this).hide();
//                second_card = $(this).siblings().find('img').attr('src');
//                console.log('second card clicked', second_card);
//                if (first_card === second_card) {
//                    var match = {
//                        first_card: first_card,
//                        second_card: second_card
//                    };
//                    matched.push(match);
//                    matches += 1;
//                    attempts += 1;
//                    first_card = null;
//                    second_card = null;
//                    displayStats();
//                } else {
//                    setTimeout(function () {
//                        $("img[src='" + first_card + "']").parent().siblings().show();
//                        $("img[src='" + second_card + "']").parent().siblings().show();
//                        first_card = null;
//                        second_card = null;
//                        attempts += 1;
//                        displayStats();
//                    }, 2000);
//                }
//            }
//            displayStats();
//        });
//
//        $("#button").click(function(){
//            resetStats();
//            games_played ++;
//        });
//
//        function displayStats() {
//            $(".played_value").html(games_played);
//            $(".attempts_value").html(attempts);
//            var accurate = Math.round(matches / attempts);
//            $(".accuracy_value").html(accurate * 100);
//            console.log('accurate :', accurate);
//            $(".matches_value").html(matches);
//        }
//
//        function resetStats() {
//            $('.card_back').show();
//            first_card = null;
//            second_card = null;
//            matched = [];
//            accuracy = 0;
//            matches = 0;
//            attempts = 0;
//            displayStats();
//        }
//
//    });
//


</script>
</html>


<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/56-f100-truck-DSC-0037.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/2015-Porsche-918-Spyder.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/2015-Porsche-918-Spyder.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/ae86_levin_hatch_by_bramdc.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/ae86_levin_hatch_by_bramdc.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/Mercedes-Benz%20190%20Cosworth%20(2).jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/Mercedes-Benz%20190%20Cosworth%20(2).jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
