<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel='stylesheet’ href=’https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <!--<script src="main.js"></script>-->

</head>
<body ng-controller="programController as pc">
<!-- Header ------------------------------------------------------------------ -->
<div id="header">
    <div id="logo">
        <img src="photos/944503_354720097988347_450575865_n .jpg" alt="logo">
    </div>
    <ul class=list-group" id="menu">
        <li class=list-group-item" id="title">Match Game</li>
        <!--<li class=list-group-item"><a href="#settings">Settings</a></li>-->
        <li class=list-group-item"><a href="about.html">About</a></li>
    </ul>

</div>
<!-- Info/Left Nav ------------------------------------------------------- -->
<div class="info">
    <div class="tower">
        <img src="photos/michelin_seven.png" alt="michelin tower">
    </div>
    <ul class="list-group stats">
        <li>
            <ul class="list-group" id="games_played">
                <li class="list-group-item">Games Played</li>
                <li class="list-group-item played_value">{{ pc.games_played }}</li>
            </ul>
            <ul class="list-group" id="attempts">
                <li class="list-group-item">Attempts</li>
                <li class="list-group-items attempts_value">{{ pc.attempts}}</li>
            </ul>
            <ul class="list-group" id="matches">
                <li class="list-group-item">Matches</li>
                <li class="list-group-item matches_value">{{ pc.matches }}</li>
            </ul>
            <ul class="list-group" id="accuracy">
                <li class="list-group-item">Accuracy</li>
                <li class="list-group-item accuracy_value">{{ pc.accuracy }}</li>
            </ul>
        </li>
    </ul>
    <button type="button" id="button" class="btn btn-primary btn-lg reset"
        ng-click="pc.clickedResetButton()">Reset
    </button>
</div>
<!-- Game Area ----------------------------------------------------------- -->
<div id="game-area" ng-controller="infoController as ic">

    <div ng-repeat='card in ic.cardArray' class="card">
        <div class="card_front">
            <img ng-src='{{ card.front }}' class="front" height="200px" width="150px">
        </div>
        <div class="card_back" ng-click="ic.cardClicked(card)" ng-hide="card.show">
            <img ng-src='{{ card.back }}' class="back" height="200px" width="150px">
        </div>
    </div>
</div>
</body>
<script>

    var app = angular.module("myApp", []);

    app.service('sharingIsCaring', function() {

        this.first_card = null;
        this.second_card = null;
        this.matched = [];
        this.matches = 0;
        this.attempts = 0;
        this.accuracy = Math.round(this.matches / this.attempts);
        this.cardArray = [];
        this.array = [];
        this.card = null;

        this.imageArray = ['photos/56-f100-truck-DSC-0037.jpg', "photos/2015-Porsche-918-Spyder.jpg", "photos/ae86_levin_hatch_by_bramdc.jpg",
            "photos/e14592bd933e2191698240c13f74c791.jpg", "photos/lowfall_0Vn6_0.jpg", "photos/Mercedes-Benz 190 Cosworth (2).jpg",
            "photos/morris-mini-1275-01.jpg", "photos/porsche-911-carrera-2.7-rs-04.jpg", "photos/web13.jpg", 'photos/56-f100-truck-DSC-0037.jpg', "photos/2015-Porsche-918-Spyder.jpg", "photos/ae86_levin_hatch_by_bramdc.jpg",
            "photos/e14592bd933e2191698240c13f74c791.jpg", "photos/lowfall_0Vn6_0.jpg", "photos/Mercedes-Benz 190 Cosworth (2).jpg",
            "photos/morris-mini-1275-01.jpg", "photos/porsche-911-carrera-2.7-rs-04.jpg", "photos/web13.jpg"];

        var currentIndex = this.array.length, temporaryValue, randomIndex;
        this.shuffle = function(array){

            while (0 !== currentIndex) {
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;
                temporaryValue = this.array[currentIndex];
                this.array[currentIndex] = this.array[randomIndex];
                this.array[randomIndex] = temporaryValue;
            }
            return array;
        };

        this.createCard = function() {
            for (i = 0; i < this.imageArray.length; i++) {
                var img = this.imageArray[i];
                var card = {
                    front: img,
                    back: 'photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg',
                    show: false
                };
                this.cardArray.push(card);
                this.cardArray = this.shuffle(this.cardArray);
            }
        };

        this.cardClicked = function (card) {
            if (this.first_card && this.second_card != null) {
                return;
            }
            console.log("card.show", card.show);
            if (this.first_card === null) {
                card.show = true; // i am getting a Cannot set property 'show' of undefined on this line.  i think its
                // because it is taking in card as an argument, but card is not defined anywhere except on line 107 in another function.
                this.first_card = card;
                this.attempts = this.attempts += 1;
                this.accuracy = this.accuracy * 100;
                console.log("first card set", this.first_card);
            } else {
                card.show = true;
                this.second_card = card;
                console.log("second card set", this.second_card);
                if (this.first_card.front === this.second_card.front) {
                    var match = {
                        first_card: first_card.front,
                        second_card: second_card.front
                    };
                    console.log("match", match);
                    this.matched.push(match);
                    this.matches = this.matches += 1;
                    this.attempts = this.attempts += 1;
                    this.accuracy = this.accuracy * 100;
                    this.first_card = null;
                    this.second_card = null;
                } else {
                    $timeout(function () {
                        console.log("timeout");
                        console.log("card", this.card);
                        this.first_card.show = false;
                        this.second_card.show = false;
                        this.first_card = null;
                        this.second_card = null;
                        this.attempts = this.attempts += 1;
                        this.accuracy = this.accuracy * 100;
                    }, 2000);
                    console.log('no match');
                }
            }
        };



        this.resetStats = function() {
            console.log("resetStats function", resetStats());
            this.first_card.show = false;
            this.second_card.show = false;
            this.matched = [];
            this.accuracy = 0;
            this.matches = 0;
            this.attempts = 0;
        };

    });

    app.controller("programController", function(sharingIsCaring){

        this.clickedResetButton = function(){
            sharingIsCaring.resetStats();
        }

    });


    app.controller("infoController", function ($timeout, sharingIsCaring) {

        sharingIsCaring.shuffle();
        sharingIsCaring.createCard();
        sharingIsCaring.cardClicked(this.card);
        this.cardClicked(card);

    });


</script>
</html>


<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/56-f100-truck-DSC-0037.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/2015-Porsche-918-Spyder.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/2015-Porsche-918-Spyder.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/ae86_levin_hatch_by_bramdc.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/ae86_levin_hatch_by_bramdc.jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/Mercedes-Benz%20190%20Cosworth%20(2).jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card_front">-->
<!--<img src="photos/Mercedes-Benz%20190%20Cosworth%20(2).jpg" class="front" height="200px" width="150px">-->
<!--</div>-->
<!--<div class="card_back">-->
<!--<img src="photos/Design-Paper-Vine-pattern-Art-Nouveau.jpg" class="back" height="200px" width="150px">-->
<!--</div>-->
<!--</div>-->
